{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% block title %}
    {{ article }}
{% endblock %}

{% block content %}
    <div style=" margin: 30px">
        <table class="table">
            <tr>
                <th class="table-secondary">ID</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Body</th>
                <td>{{ article.body }}</td>
            </tr>

            <tr>
                <th class="table-secondary">Author</th>
                <td>{{ article.author }}</td>
            </tr>

            <tr>
                <th class="table-secondary">Date</th>
                <td>{{ article.date }}</td>
            </tr>
        </table>

        {% if article.author == request.user %}
            <div style="margin-top: 20px">
                <a class="btn btn-warning"
                   href="{% url 'article_update' article.id %}">Update</a>
                <a class="btn btn-danger"
                   href="{% url 'article_delete' article.id %}">Delete</a>
            </div>
        {% endif %}
    </div>
    <div style="background: #f8f8f8">
    <hr>
    {% if user.is_authenticated %}
        <div class="container" >
            <h3>Add Comment:</h3>
            <form action="" method="POST" class="card p-4" >
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary"
                        style="margin-top: 20px">Add Your Comment
                </button>
            </form>
        </div>

    {% else %}
        <p class="text-warning-emphasis">You Must login to Send Comment</p>
    {% endif %}
    <hr>
</div>
    <div class="container">
    <h3>Comments :</h3>
    {% for comment in article.comments.all %}
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ comment.author }}</h5>
                <p class="card-text">{{ comment.comment }}
                    {% if comment.author == request.user %}
                        <a href="#" class="card-link">✏️</a>
                        <a href="#" class="card-link">🗑️</a>
                        </p>
                    {% endif %}
            </div>
        </div>
    {% endfor %}
    </div>

{% endblock %}