{% extends 'base.html' %}
{% load bootstrap_icons %}

{% block title %}
    Articles List
{% endblock %}

{% block content %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>

        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr onclick='window.location="{% url 'article_detail' article.id %}"'>
                <th scope="row">{{ article.id }}</th>
                <td>{{ article.title }}</td>
                <td>
                    <div class="d-flex">
                        <div style="flex: 80%">{{ article.body }}</div>
                        <div style=" flex: 20%">
                            {% if article.author == request.user %}
                            <a href="{% url 'article_update' article.id %}">{% bs_icon 'pen' %}️</a>
                            <a href="{% url 'article_delete' article.id %}">{% bs_icon 'trash' color='red' %}️</a>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}